<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        
        <section name="PlainFile.Config"
                 type="Logging.Persisters.PlainFile.Config, Logging.Persisters.PlainFile" />
    
    </configSections>

    <PlainFile.Config
        logFile="c:\log.log" />

</configuration>
