<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- Logging Definition
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <configSections>
        
        <section name="Logging.Config"
                 type="Logging.Config, Logging" />

        <section name="SimpleLogFormatter.Config"
                 type="Logging.Modifiers.SimpleLogFormatter.Config, Logging.Modifiers.SimpleLogFormatter" />

        <section name="Buffered.Config"
                 type="Logging.Modifiers.Buffered.Config, Logging.Modifiers.Buffered" />

        <section name="Async.Config"
                 type="Logging.Modifiers.Async.Config, Logging.Modifiers.Async" />

        <section name="Multi.Config"
                 type="Logging.Modifiers.Multi.Config, Logging.Modifiers.Multi" />
        
        <section name="PlainFile.Config"
                 type="Logging.Persisters.PlainFile.Config, Logging.Persisters.PlainFile" />

        <section name="WindowsEventLog.Config"
                 type="Logging.Persisters.WindowsEventLog.Config, Logging.Persisters.WindowsEventLog" />

        <section name="Email.Config"
                 type="Logging.Persisters.Email.Config, Logging.Persisters.Email" />

    </configSections>

    
    <!-- Logging Configuration
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <Logging.Config
        verbosity="eDebugs"
        persister="Logging.Modifiers.SimpleLogFormatter"
        emergencyLogs="c:\EmergencyLogs.logs" />

    <SimpleLogFormatter.Config
        persister="Logging.Modifiers.Multi" />

    <Buffered.Config
        persister="Logging.Modifiers.Async"
        bufferSize="5"
        sizeUnit="M" />

    <Async.Config
        persister="Logging.Modifiers.Multi" />

    <Multi.Config
        persisters="Logging.Persisters.PlainFile;Logging.Persisters.SystemConsole;Logging.Persisters.WindowsEventLog" /> <!-- ;Logging.Persisters.Email -->

    <PlainFile.Config
        logFile="c:\log.log" />

    <WindowsEventLog.Config
        source="Logging.Tester" />

    <Email.Config
        mailServer  ="mailserverIP"
        fromMail    ="user@domain.com"
        fromUser    ="user"
        fromPassword="pass"
        to          ="target1@domain.com:target2@domain.com" />

</configuration>
