<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>

        <section
            name="Buffered.Config"
            type="Logging.Modifiers.Buffered.Config, Logging.Modifiers.Buffered" />

    </configSections>

    <Buffered.Config
        persister="Logging.Modifiers.Async"
        bufferSize="5"
        sizeUnit="M" /> <!-- B, K, M, G -->

</configuration>
