<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        
        <section
            name="Logging.Config"
            type="Logging.Config, Logging" />
        
    </configSections>

    <Logging.Config
        verbosity="eDebugs"
        persister="Logging.Modifiers.SimpleLogFormatter"
        emergencyLogs="c:\EmergencyLogs.logs" />

</configuration>
