<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        
        <section
            name="Email.Config"
            type="Logging.Persisters.Email.Config, Logging.Persisters.Email" />
        
    </configSections>

    <Email.Config
        mailServer  ="mailserverIP"
        fromMail    ="user@domain.com"
        fromUser    ="user"
        fromPassword="pass"
        to          ="target1@domain.com:target2@domain.com" />

</configuration>
