<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>

        <section name="SimpleLogFormatter.Config"
                 type="Logging.Modifiers.SimpleLogFormatter.Config, Logging.Modifiers.SimpleLogFormatter" />

    </configSections>

    <SimpleLogFormatter.Config
        persister="Logging.Modifiers.Buffered" />

</configuration>
