<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        
        <section name="WindowsEventLog.Config" 
                 type="Logging.Persisters.WindowsEventLog.Config, Logging.Persisters.WindowsEventLog" />
    
    </configSections>

    <WindowsEventLog.Config
        source="TestSource" />

</configuration>
