<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        
        <section
            name="Multi.Config"
            type="Logging.Modifiers.Multi.Config, Logging.Modifiers.Multi" />
        
    </configSections>

    <Multi.Config
        persisters="Logging.Persisters.PlainFile;Logging.Persisters.SystemConsole;Logging.Persisters.WindowsEventLog;Logging.Persisters.Email" />

</configuration>
